

:root {
    --color-primary:#eff0e0;
    --text-color:#fff;
}

* {
    padding: 0;
    margin: 0;
}

/* BANNER  */
.banner {
    background-image: url('/assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    color: var(--text-color);
}

.logo a img{
    margin-top: 160px;
    margin-bottom: 40px;
    font-size: 14px !important;
    cursor: pointer;
}

.banner h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 400;
}

.banner p {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .25rem;
    margin-bottom: 80px;
}

.banner img {
    margin-bottom: 80px;
    padding-bottom: 30px;
    cursor: pointer;
}

/* ABOUT-US */

.about-us {
    background-color: var(--color-primary);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.about-us h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: .25rem;
    font-size: 30px;
}

.about-us p {
    font-size: 16px;
    font-weight: 200;
}

.p-one {
    padding-bottom: 20px;
}

/* SERVICES  */
.services {
    background-image: url('/assets/backgrounds/s_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.services h3  {
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 20px;
    font-weight: 600;
    letter-spacing: .25rem;
    font-size: 30px;
}

.services p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 40px;
}

/* OUR WORK  */
.our-work {
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    justify-content: space-between;
    background-color: var(--color-primary);
}

.our-work h3 {
    font-weight: 600;
    letter-spacing: .25rem;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
    padding-bottom: 40px;
}

.our-work h4 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
}

/* PORTFOLIO  */
.portfolio {
    display: flex;
    background-color: var(--color-primary) !important;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;

}

.portfolio h3 {
    font-weight: 600;
    letter-spacing: .25rem;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 40px;
    opacity: .6;
}

.portfolio img {
    width: 250px;
    padding: 3px;
    margin-bottom: 30px;
}

/* CONTACT-US */
.contact-us {
    background-image: url('/assets/backgrounds/c_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
}
.contact-us h3 {
    font-weight: 600;
    letter-spacing: .25rem;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--text-color);
} 

input {
    background: transparent;
    border: 1px solid var(--text-color);
    line-height:2rem;
    color: var(--text-color);
    outline: none;

}

.user-data {
    padding: 20px;
    line-height: 2rem;
}

.name {
    margin-right: 10px;
}

.user-data input {
    width: 290px;
    height: 3rem;
}


.text-area {
    width:600px;
    height: 150px;
    background: transparent;
    margin: 10px;
    justify-content: center;
    margin-bottom: 60px;

}

input::placeholder {
    color: var(--text-color);
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
    padding: 5px;
}

/* FOOTER  */
.footer {
    background-color: var(--color-primary);
    padding: 20px;
    text-align: center;
    align-items: center;
}

.icons {
    display: inline;
}

.icons img {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.icons img:hover {
    transition: 3s fadeIn;
    opacity: .4;
}

.footer p {
    text-transform: uppercase;
    letter-spacing: .25px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}



/* SMALL SCREEN DEVICES ONLY  */

@media only screen and (max-width: 768px) {

    /* bannar */
    .logo a img{
        margin-top: 160px;
        margin-bottom: 40px;
        /* font-size: 12px !important; */
        cursor: pointer;
        width: 50px;
        height: 80px;
    }
    
    .banner {
        background-image: url('/assets/backgrounds/h_img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        align-items: center;
        color: var(--text-color);
    }

    .banner h1 {
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: 500;
    }
    
    .banner p {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .25rem;
        margin-bottom: 80px;
    }
    
    .banner img {
        margin-bottom: 80px;
        padding-bottom: 30px;
        cursor: pointer;
    }

    /* about-us | services  */
    .about-us p {
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 15px;
    }

    .services p {
        font-size: 14px;
        font-weight: lighter;
        padding: 10px;
    }

    .our-work img {
        width: 40px;
        height: 60;
        margin-top: 10px;
    }

    /* portfolio  */

    .portfolio img {
        width: 100%;
        padding: 3px;
        margin-bottom: 30px;
    }

    .user-data {
        width: 100%;
        padding: 20px;
        line-height: 2rem;
    }
    .email {
        margin-left: -10px;
    }
    .name {
        margin-bottom: 10px;
    }
    
    .user-data input {
        width: 300px;
        height: 3rem;
    }

    .text-area {
        width:80%;
        height: 150px;
        background: transparent;
        margin: 10px;
        justify-content: center;
    }
    
}
